@keyframes ldio-0xyblqwkh2k {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(22.5deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
.ldio-0xyblqwkh2k > div {
  transform-origin: 100px 100px;
  animation: ldio-0xyblqwkh2k 0.3s infinite linear;
}
.ldio-0xyblqwkh2k > div div {
  position: absolute;
  width: 27px;
  height: 190px;
  background: #5b9ee1;
  left: 100px;
  top: 100px;
  transform: translate(-50%, -50%);
}
.ldio-0xyblqwkh2k > div div:nth-child(1) {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.ldio-0xyblqwkh2k > div div:nth-child(6) {
  width: 100px;
  height: 100px;
  background: #f1f2f3;
  border-radius: 50%;
}
.ldio-0xyblqwkh2k > div div:nth-child(3) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.ldio-0xyblqwkh2k > div div:nth-child(4) {
  transform: translate(-50%, -50%) rotate(90deg);
}
.ldio-0xyblqwkh2k > div div:nth-child(5) {
  transform: translate(-50%, -50%) rotate(135deg);
}
.loadingio-spinner-gear-l7wm7khgzwe {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-0xyblqwkh2k {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-0xyblqwkh2k div {
  box-sizing: content-box;
}
